<nav class="tool">
  <img
    src="https://andrewroar.github.io/portfolio/image/toppng.com-shiba-inu-icon-shiba-icon-1235x1268.png"
    alt="toolbar background"
    class="logo"
  />
  <ul class="tool-div">
    <li class="tool-list">
      <a routerLink="/" style="text-decoration: none; color: inherit">Home</a>
    </li>
    <li class="tool-list">
      <a routerLink="/detail" style="text-decoration: none; color: inherit"
        >Detail</a
      >
    </li>
    <li class="tool-list">
      <a routerLink="/contact" style="text-decoration: none; color: inherit"
        >Contact</a
      >
    </li>
    <li class="tool-list">
      <a routerLink="/project" style="text-decoration: none; color: inherit"
        >Projects</a
      >
    </li>
  </ul>
</nav>
