<!--<ul>
  <li *ngFor="let course of courses">
    {{ course }}
  </li>
</ul>-->

<div class="contact-flex">
  <div class="card-flex-div card center">
    <div class="card-container">
      <h4><b>Contact</b></h4>
      <h5><b>Email:</b></h5>
      <p>andrewshout@gmail.com</p>
      <h5><b>Phone:</b></h5>
      <p>07460377519</p>
      <h5><b>Linkedin:</b></h5>
      <p>
        <a
          href="https://www.linkedin.com/in/andrew-chung-man-wong-54129b132/"
          style="text-decoration: none; color: inherit"
          >Click Here</a
        >
      </p>
      <form action="mailto:andrewshout@gmail.com">
        <button type="”submit”">Email Me</button>
      </form>
    </div>
  </div>
</div>
