<div class="body-flex">
  <div class="body-flex-div card project-div">
    <div class="card-container">
      <img
        src="https://andrewroar.github.io/portfolio/image/ygopro_database.jpeg"
        alt="Avatar"
        class="profile-pic"
      />
      <h4><b>YGOPRO Database</b></h4>

      <p>
        Using an API made by fans, this website allows using to search the card
        by name and other filters and learn details about it
      </p>
      <p>
        Github:<a href="https://github.com/andrewroar/ygopro"
          >https://github.com/andrewroar/ygopro</a
        >
      </p>
      <p>
        URL:<a href="https://andrewroar.github.io/ygopro/#/"
          >https://andrewroar.github.io/ygopro/#/</a
        >
      </p>
    </div>
  </div>

  <div class="body-flex-div card project-div">
    <div class="card-container">
      <img
        src="https://andrewroar.github.io/portfolio/image/ez-game.PNG"
        alt="Avatar"
        class="profile-pic"
      />
      <h4><b>Ez-games</b></h4>

      <p>
        Group prject where we worked with 2 others to create an app hosted on
        Heroku where we can use a third party api, database and express.
      </p>
      <p>
        Github:<a href="https://github.com/AGhafoor94/ez-games"
          >https://github.com/AGhafoor94/ez-games</a
        >
      </p>
      <p>
        URL:<a href="https://limitless-harbor-95362.herokuapp.com"
          >limitless-harbor-95362.herokuapp.com</a
        >
      </p>
    </div>
  </div>

  <div class="body-flex-div card project-div">
    <div class="card-container">
      <img
        src="https://andrewroar.github.io/portfolio/image/biblequote.jpeg"
        alt="Avatar"
        class="profile-pic"
      />
      <h4><b>Bible Quote</b></h4>

      <p>
        A REACT based android application which will generate user a random
        bible quote
      </p>
      <p>
        Play Store:<a
          href="https://play.google.com/store/apps/details?id=com.andrewroar.biblequote"
          >https://play.google.com/store/apps/details?id=com.andrewroar.biblequote</a
        >
      </p>
    </div>
  </div>
</div>
